:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-size: 14px;
  line-height: 2;
  font-weight: 450;
}

a {
  font-weight: 500;
  font-size: 14px;
  color: #1e1e1e;
  text-decoration: inherit;
}

a:hover {
  color: #1e1e1e;
  background-color: rgba(113, 56, 77, 0.3);
  border-radius: 20px;
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
      color: #1e1e1e;
      background-color: #ffffff;
  }
  a:hover {
      color: #1e1e1e;
  }
  button {
      background-color: #f9f9f9;
  }
}
